@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

@keyframes fill {
  0% {
    width: 0;
  }
}

@keyframes home {
  0% {
    margin: -100px auto 20px auto;
    gap: 100px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-areas:
    "header header"
    "languages certificate"
    "projects-filter ."
    "projects projects";
  gap: 20px;
  animation: home 1s ease;
}

.background {
  background-color: rgb(34, 34, 34);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.2);
}

/* HEADER */

.header-section {
  grid-area: header;
  display: flex;
}

.header-section h1 {
  font-weight: 500;
}

.header-section p,
a {
  color: #828282;
}

.header-section img {
  width: 200px;
  border-radius: 12px;
}

.header-section-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 10px 20px;
}

.header-section-div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-section-div img {
  width: 30px;
  margin: 20px 0 0 40px;
  filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(240deg) brightness(100%)
    contrast(91%);
}

.header-section-div img:hover {
  filter: invert(23%) sepia(80%) saturate(3879%) hue-rotate(293deg)
    brightness(45%) contrast(121%);
}

/* LANGUAGES */

.languages-section {
  grid-area: languages;
}

.languages-section > div {
  display: flex;
  align-items: center;
  padding: 2px;
}

.languages-section > div p {
  width: 110px;
  font-size: 14px;
}

.skill-container {
  width: 100%;
  background-color: rgb(167, 167, 167);
  border-radius: 25px;
  height: 10px;
}

.skills {
  text-align: right;
  color: white;
  background-color: #9e0089;
  border-radius: 25px;
  height: 10px;
}

.html,
.css,
.js,
.react {
  width: 90%;
  animation: fill 2s ease;
}

.next {
  width: 50%;
  animation: fill 2s ease;
}

.redux {
  width: 60%;
  animation: fill 2s ease;
}

/* CERTIFICATES */

.certificate-section {
  grid-area: certificate;
  display: flex;
  align-items: center;
}

.certificate-section h2 {
  font-weight: 500;
  font-size: 15px;
}

.certificate-section p {
  color: #828282;
  font-size: 13px;
  margin-top: 5px;
}

.certificate-section img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

/* PROJECTS */

.projects-filter {
  grid-area: projects-filter;
}

.projects-filter a {
  cursor: pointer;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.2);
}

.ligther-bg {
  background-color: #9e0089;
}

.projects-filter a:hover {
  background-color: #810070;
}

.darker-bg {
  background-color: #660058;
}

.projects-section {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.projects-section-div img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.5s ease-in-out;
}

.projects-section-div:hover img {
  filter: grayscale(0);
}

.projects-section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-section-div h2 {
  font-weight: 400;
  margin: 20px 0;
}

.projects-section-div a {
  color: #9e0089;
  text-decoration: none;
  font-weight: 600;
}

/* FOOTER */

footer {
  width: 100%;
  margin: 50px 0 10px 0;
  padding: 10px 0;
  color: #828282;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

footer a {
  color: #828282;
  margin-left: 5px;
}

@media (max-width: 1080px) {
  main {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "languages"
      "certificate"
      "projects-filter"
      "projects";
  }
  .projects-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    width: 90%;
  }

  .header-section-div > div {
    flex-direction: column;
    margin: 30px auto;
    text-align: center;
  }

  .header-section-div div {
    margin: 10px;
  }

  .header-section-div img {
    margin: 20px 10px 0 10px;
  }
  .projects-section {
    grid-template-columns: 1fr;
  }
}
